@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #b6b1b1;
}

.nav-link{
  position: relative;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all .2s;
  height: 2px;
  width: 100%;
  background-color: #FFC900;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after{
  opacity: 1;
}

.btn-compra:hover {
  list-style: none;
  background-color: #fff !important;
}
.article {
  height: 100vh;
  background-image: url('../assets/hero.jpg');
  background-size: cover;
}
.hero-content {
  margin: 5rem;
}

.footer {
  height: 20vh;
}
